#main-menu a{
	font-size: 20px;
    text-decoration: none;
    margin-left: 60px;
	display: block;
    height: 50px;
    margin-left: 100px;
    position: relative;
}
#main-menu > a:first-child {
	padding: 4px;
	background-color: #ffffff;
	border-radius: 50%;
}
#main-menu > a:first-child > img {
	max-width: 120px;
	border-radius: 50%;
	top: -100px;
    left: -90px;
    position: absolute;
}

.conten {
	margin-top: 60px;
}
.footer{
	margin-top: 60px;
}
img:hover{
	color: orange;
}
#backtotop{
	position: fixed;
	right: 220px;
	bottom: 30px;

}
#backtotop > a > img{ 
	width: 50px;
 }
 #backtotop > a > img:hover{
 	color: blue;
 }