#wraper{
	width: 800px;
	height: 600px;
	margin: 0px auto;
}
.top{
	width: 100%;
	height: 10%;
	border: #ccc solid 1px;

}
h1.h1-login{
	font-size: 20px;
    margin: 20px;
}
.container{
	width: 100%;
	border:1px #ccc solid;
	height: 80%;
}
.bottom{
	width: 100%;
	height: 10%;
	border: #ccc solid 1px;
}
.conten{
	width: 50%;
    height: 50%;
    border: #ccc 1px solid;
    margin: 0px auto;
    padding: 20px;
    margin-top: 90px;
    position: relative;
}
input[type="text"] {
    width: 250px;
    height: 20px;
    padding: 2px;
    margin: 10px;
    margin: 20px 54px;
}
h1.h1-container {
    position: absolute;
    top: -37px;
    left: 30px;
    font-size: 21px;
    font-style: inherit;
    background-color: white;
    padding: 8px;
}
button {
    padding: 5px;
    width: 15%;
    margin: 10px 53px;
}
